# Dependencias Node.js
node_modules/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
*.swo

# Archivos temporales
*.tmp
~$*

#Siandi
.claude/
quiz_parcial_progra3_moodle.gift.txt
quiz_parcial_progra3_moodle_v2.gift.txt
quiz_parcial_progra3_moodle_v3.gift.txt